{% extends '_base.html' %}
{% load static %}

{% block title %}Transaction list{% endblock title %}

{% block content %}

<table class="table table-striped">
    <caption>Transaction list of {{ txFilter }}</caption>
    <thead>
        <tr>
            <th>TxID</th>
            <th>Sender Name</th>
            <th>Recver Name</th>
            <th>Timestamp</th>
            <th>Value</th>
        </tr>
    </thead>
    <tbody>
        {% for Tx in TxList %}
        <tr>
            <th>{{ Tx.Key }}</th>
            {% if display_gist %}
              <th>{{ Tx.Record.sendername|truncatechars:2 }}</th>
              <th>{{ Tx.Record.recvername|truncatechars:2 }}</th>
            {% else %}
              <th>{{ Tx.Record.sendername }}</th>
              <th>{{ Tx.Record.recvername }}</th>
            {% endif %}
            <th>{{ Tx.Record.timestamp }}</th>
            <th>{{ Tx.Record.value }}</th>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% if user_is_authenticated %}
    <div class="progress progress-striped active">
        <div class="progress-bar progress-bar-success" role="progressbar"
            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
            style="width: {{ normalizedCreditScore }}%;">
        </div>
    </div>
    <p>My credit score: {{ creditScore }}/1000</p>
{% endif %}

{% endblock content %}
